<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Wellcome to MagicWallet, <%= @user.firstName %> <%= @user.lastName %>!</h1>
    <p>Your email is now confirmed, now you can login in our web and movile applications!<br><br>

    MagicWallet Team.<br><br>

    Please DO NOT replay to this email.</p>
  </body>
</html>
